<!DOCTYPE html>
<html lang="en">
<head>
  <title>Socialize</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <marquee behavior="alternate" style="font-size: 40px">I am still working on this project. There might be errors.</marquee>
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" id="white" style="font-size: 30px; padding:0; margin-left: 5px; padding-top: 8px"><span class="glyphicon glyphicon-camera" style="margin-right: 8px; padding-top:2px"></span>Socialize</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/users/register" id="white" style="margin-top: 5px; margin-left: 5px"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/users/login" id="white" style="margin-top: 5px; margin-left: 5px"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
<div class="container">
