  <% include ./partials/header %>
  <div class="jumbotron text-center">
      <h1 class="text-center" style="color:black;">Welcome to Socialize</h1>
      <p class="lead text-center" style="color:black">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <form action="/posts" method="GET">
        <input type="submit" class="btb btn-danger btn-lg" value="View Posts">
    </form>
  </div>
  <% include ./partials/footer %>
